<!DOCTYPE html>
<html>

<%- include('layout/head') -%>

<body>
  <div style="width:100%;height:100%;position:relative;overflow:hidden;">
    <div class="greyDiv"></div>
    <div class="background" data-speed="2"></div>
    <div class="destinyLogo center">
      <img src="/images/Destiny_Logo_Stacked_White.png" class="">
      <h1 style="color:white;font-family:D2Font;">LE MINI JEU</h1>
    </div>

    <div class="divButtonD2 animateDivHome">
      <a href="/createCharacter" class="buttonD2">Créer un personnage</a>
      <a href="/login" class="buttonD2">Continuer l'aventure</a>
    </div>
  </div>
</body>

<%- include('layout/script') -%>

</html>
